# Sistema operacional
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/

# Arquivos temporários
*.log
*.tmp
*.swp

# Dependências (se no futuro usar Composer)
vendor/

# Configurações sensíveis (para o futuro)
.env

#diretórios e arquivos sensíveis
/config/database.php
/config/email.php
/logs/
